*{
  padding: 0;
  margin: 0;
}

.main-div {
  text-align: center;
  height: 100vh;
  background-color: rgb(2, 2, 56);
}
.doc-image{
  width: 150px;
  padding-top: 30px;
}
.child-div{
  color: white;
}
.addItems{
  margin-top: 15px;
  display: inline-block;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  
 
}
.addItems input {
  width: 250px;
  height: 30px;
  border: none;
  font-size: larger;

}
.addItems input:focus {
  outline: none;
}
.add-btn{
    color: black;
    padding: 0px 10px;
}
.showDetails{
  
  width: 15%;
  margin: auto;
  
  color: black;
  border-radius: 10px;
 
}
.eachItem{
  margin-top: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background-color: beige;
}
.show{
  margin-top: 10px;
}
.show button{
  padding: 10px;
}
